{% extends "employee/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action = "" method="POST">
    {% csrf_token %}
    {{form.Full_name|as_crispy_field}}
    {{form.mobile|as_crispy_field}}
    <div class="row">
        <div class = "col-md-4">
    {{form.emp_code|as_crispy_field}}
    </div>
    <div class = "col-md-4">
    {{form.Position|as_crispy_field}}
    </div>
   </div>
<br>
    <div class ="row">
        <div class="col-md-8">
            <button  type ="submit" , class="btn btn-success">Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'employee_list' %}" , class="btn btn-primary">go back to list</a>
        </div>
    </div>

</form>
{% endblock content %}
